.navbar {
    position: relative;
    font-weight: bold;

  }
  
  .navbar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); 
    /* background-image: url('../../../../assets/img/header-back.jpeg'); */
    filter: blur(5px);
    z-index: -1; /* Para asegurarse de que esté detrás del contenido */
  }
  