 .nav-bag {
  background-color: rgb(9, 178, 155);
} 

.container {
  margin-top: 20px;
  border-radius: 20px;
  background-color: var(--background-components);
  width: 80%;
  max-width: 1200px;
  height: 80%;
  backdrop-filter: blur(10px);
}

.tabla {
  height: 400px;
  overflow-y: auto;
}